/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-col-1-6 {
    width: calc((100% / 6) * 1);
}

.row-col-4-6 {
    width: calc((100% / 6) * 4);
}

.small-container {
    max-width: 900px;
    margin: 0 auto;
}

.col-3-5 {
    width: calc((100% / 5) * 3);
}

.col-2-5 {
    width: calc((100% / 5) * 2);
}

.col-1-4 {
    width: calc((100% / 4) * 1);
}

.col-3-4 {
    width: calc((100% / 4) * 3);
}

.button-piccolo {
    display: inline-block;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: small;
  }

.button-invertito {
    display: inline-block;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: larger;
  }

  .button-blu {
    display: inline-block;
    border-radius: 25px;
    background-color: #7389DA;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: larger;
  }

/* HEADER */

.header1 .container .login-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header1 .link-container {
    text-align: center;
    padding-top: 10px;
}

.row .menu-container .logo img {
    height: 40px;
    padding: 10px;
}

.header1 .link-container ul li {
    display: inline-block;
    margin: 0 15px;
}

.header1 .link-container a {
    color: white;
    text-decoration: none;
}

.header2 { 
    padding: 100px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.header2 .homepage-text .button-piccolo {
    margin-right: 10px;
    font-size: larger;
}

.header2 .homepage-text {
    text-align: center;
}


.header2 .homepage-text h1 {
    font-size: 50px;
    margin: 50px;
    color: white;
}

.header2 .homepage-text p {
    font-size: 20px;
    margin: 30px;
    color: white;
    line-height: 1cm;
}


/* MAIN */

main section .sezione-1 {
    padding: 100px 0;
}

main > section:nth-child(even) {
    background-color: #D3D3D3;
}

main section .col-2-5 h2{
    font-size: 50px;
    padding-bottom: 30px;
}

main section .col-2-5 p {
    font-size: 20px;
}

main section .sezione-1 h2 {
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}

main section .sezione-1 p {
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
}

main section .sezione-2 img {
    width: 1200px;
}

main section .sezione-3 {
    text-align: center;
}

main section .sezione-3 h3 {
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
    background-image: url("../img/stars.svg");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}


/* FOOTER */

footer {
    background-color: #23272A;
}

.footer-1 {
    padding: 40px 40px 20px;
}

.footer-1 .row .footer-1-parte-principale h5 {
    color: #7389DA;
    font-size: 15px;
}

.footer-1 .row .footer-1-parte-principale .col-1-4 {
    line-height: 1cm;
}

.footer-1 .row .footer-1-parte-principale li {
    list-style: none;
}

.footer-1 .row .footer-1-parte-principale a {
    color: white;
    text-decoration: none;
}

.footer-container {
    min-height: 100px;
}

.container-footer-2 {
    display: flex;
    justify-content: space-between;
}

.row .col-1-4 h4 {
    font-size: 30px;
    color: #7389DA;
    padding-bottom: 20px;
}

.row .col-1-4 span {
    color: white;
}

.row i {
    color: white;
}

.row .col-1-4 img {
    max-width: 20px;
}

.row .social-icons {
    padding-top: 20px;
}

.row .social-icons i:not(:first-child) {
    padding-left: 10px;
}

.footer-1 hr{
    border-color: #7389DA;
}

.footer-2 .button-blu{
    font-size: 15px;
}
/* DEBUG */

.debug .header1 {
    background-color: #265EE9;
    padding: 10px 0px;
}

/* .debug .header1 {
    background-color: #AED9E5;
    padding: 10px 0px;
}

.debug .header1 .row {
    background-color: #DAA520;
}

.debug .header1 .row > * {
    border: 1px dashed black;
} */

.debug .header2 {
    background-color: #08008B;
}

.debug .header2 .homepage-text{
    /* background-color: #EE81ED;
    border: 1px dashed black; */
    min-height: 400px;
}

.debug main section .row .col-3-5 {
    /* background-color: #1D90FF;
    border: 1px dashed black; */
    min-height: 400px;
}

.debug main .row .col-2-5 {
    /* background-color: #FFC0CA;
    border: 1px dashed black; */
    min-height: 400px;
}

.debug main .sezione-2 {
    /* background-color: #228B21;
    border: 1px dashed black; */
    min-height: 400px;
}

.debug .footer-1-parte-principale {
    /* background-color: #F08080; */
}

.debug .footer-1-parte-principale > *{
    /* border: 1px dashed black; */
    min-height: 400px;
}

.debug .footer-1-parte-principale .seconda-parte {
    /* background-color: #21B1A9;
} */


.debug .footer-1-parte-principale .seconda-parte > * {
    border: 1px dashed white;
}

.debug .footer-container {
    background-color: #80FED3;
}

.debug .footer-container .container-footer-2 > * {
    background-color: #FFB6C1;
    border: 1px dashed black;
    padding: 5px;
}

